*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: "outfit", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
    max-width: 290px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.card__image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
}
.card__title{
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}
.card__text{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    margin-bottom: 12px;
}
.card__description{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.2;
}
.attribution{
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: hsl(216, 15%, 48%);
}
.attribution a {
    color: hsl(218, 44%, 22%);
    text-decoration: none;
    font-weight: 700;
}
footer{
    margin-top: 20px;
}